<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="OOP_1" transaction-type="RESOURCE_LOCAL">

        <class>com.company.oop1.entity.City</class>
        <class>com.company.oop1.entity.WorkShop</class>
        <class>com.company.oop1.entity.Employee</class>
        <class>com.company.oop1.entity.Service</class>
        <class>com.company.oop1.entity.Individual</class>
        <class>com.company.oop1.entity.Company</class>
        <class>com.company.oop1.entity.Customer</class>
    </persistence-unit>
</persistence>
